
@font-face
{
font-family: OpenSans;
src: url('fonts/OpenSans-Regular.ttf')
} 

@font-face
{
font-family: RobotoRegular;
src: url('fonts/Roboto-Regular.ttf')
} 

@font-face
{
font-family: RobotoThin;
src: url('fonts/Roboto-Thin.ttf')
} 


body, table, div, p, dl
{
  font-family: OpenSans;
  font-weight: 100;
/*  font-style: normal;
  font-variant: normal;*/
  font-size: 13px;
  line-height: 15px;
  font-size-adjust: none;
  font-stretch: normal;
  color: #333;
}

/* Line 265 */
div.contents
{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Line 13 */
.title
{
  color: #444;
  font-family: RobotoRegular;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 2px;
  margin-bottom: 5px;
  margin-left: 2px;
}

h2.groupheader
{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6da5e5;
  color: #1086e2;
  font-size: 150%;
  font-weight: normal;
  margin-top: 1.75em;
  padding-top: 8px;
  padding-bottom: 4px;
  width: 100%;
}

/* Line 136 */
a.el
{
  font-family: Monaco;
  font-size: 12px;
  font-weight: bold;
  color: #1086e2;
}

.memproto, dl.reflist dt
{
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #95beec;
  border-left-width-value: 1px;
  border-left-style-value: solid;
  border-left-color-value: #95beec;
  border-right-width-value: 1px;
  border-right-style-value: solid;
  border-right-color-value: #95beec;
  padding-top: 6px;
  padding-right: 0px;
  padding-bottom: 6px;
  padding-left: 0px;
  color: #123a68;
  font-weight: bold;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.898);
  background-image: none;
  background-repeat: repeat-x;
  background-color:#f7f7f7;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.fieldtable th
{
  background-image: none;
  background-repeat: repeat-x;
  background-color: #f7f7f7;
  font-size: 90%;
  color: #123a68;
  padding-bottom: 4px;
  padding-top: 5px;
  text-align: left;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #95beec;
}

/* Line 737 */
.arrow
{
  color: #86bdea;
  cursor: pointer;
  font-size: 80%;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.paramname em
{
  font-style: normal;
  color: #EB3913;
}

/* Line 919 */
.navpath ul
{
  font-size: 21px;
  background-color: #f7f7f7;
  background-image: none;
  background-repeat: repeat-x;
  background-position: 0px -5px;
  height: 30px;
  line-height: 30px;
  color: #aaa;
  border-top-width: 1px;
  border-right-width-value: 0px;
  border-bottom-width: 1px;
  border-left-width-value: 1px;
  border-top-style: solid;
  border-right-style-value: solid;
  border-bottom-style: solid;
  border-left-style-value: none;
  border-top-color: #ddd;
  border-right-color-value: #ddd;
  border-bottom-color: #ddd;
  border-left-color-value: #ddd;
  border-image-source: none;
  border-image-slice: 100% 100% 100% 100%;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

/* Line 934 */
.navpath li
{
  list-style-type: none;
  float: left;
  padding-left: 10px;
  padding-right: 15px;
  background-image: url("bc_s.png");
  background-repeat: no-repeat;
  background-position: right center;
  color: #13599f;
}


/* Line 946 */
.navpath li.navelem a
{
  height: 32px;
  display: block;
  outline-width: medium;
  outline-style: none;
  color: #666;
  font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.898);
}

/* Line 958 */
.navpath li.navelem a:hover
{
  color: #1086e2;
}

/* Line 692 */
.directory td.entry
{
  font-family: Monaco;
  font-size: 12px;
  white-space: nowrap;
  padding-right: 6px;
  padding-top: 3px;
}

/* Line 706 */
.directory td.desc
{
  width: 100%;
  font-size: 12px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  border-left-width-value: 1px;
  border-left-style-value: solid;
  border-left-color-value: rgba(0, 0, 0, 0.05);
}

div.header
{
        background-image:none;
	background-color: #f7f7f7;
	margin:  0px;
	border-bottom: 1px solid #B7D8F2;
}

div.headertitle
{
	padding: 5px 5px 5px 10px;
}

/* Line 1 */
.tabs, .tabs2, .tabs3
{
  background: #eee;
  width: 100%;
  z-index: 101;
  font-size: 12px;
  font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
}

/* Line 30 */
.tablist a
{
  display: block;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  font-weight: normal;
  background:#eee;
  color: #666;
  text-shadow: none;
  outline-width: medium;
  outline-style: none;
}

/* Line 47 */
.tablist a:hover
{
  background: #eee;
  color: #1086e2;
  text-shadow: none;
}

.tablist li {
    float: left;
    display: table-cell;
    background-image:none;
    line-height: 26px;
    list-style: none;
}


/* Line 55 */
.tablist li.current a
{
  background:#1086e2;
  color: #ffffff;
  text-shadow: none;
}


